.slideRight {
	transform: translateX(40px);
	opacity: 0;
	-webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  	transition:         all 1s cubic-bezier(0.23, 1, 0.32, 1);

	&.animated {
		transform: translateX(0px);
		opacity: 1;
	}
}

.slideUp {
	transform: translateY(40px);
	opacity: 0;
	-webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  	transition:         all 1s cubic-bezier(0.23, 1, 0.32, 1);

	&.animated {
		transform: translateY(0px);
		opacity: 1;
	}
}

// VueJS Fade Animation
.fade-transition {
	opacity: 1;
	transition: 2s;
}

.fade-enter, .fade-leave {
	opacity: 0;
}

.slide-transition {
	opacity: 1;
	transition: 1s;
	transform: translateY(0px);
}

.slide-enter, .slide-leave {
	opacity: 0;
	transform: translateY(-60px);
}

