.btn {
	border-radius: 4px;
	padding: 8px 30px;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 0.8em;
	border: none;
	background-color: transparent;
	border: 2px solid $gold;
	color: $gold;
	transition: 0.4s;

	&:hover {
		color: #fff;
		background-color: $gold;
	}

	&.btn-primary {
		background-color: $gold;
		color: #fff;
		border: none !important;
		width: 100%;
		border-radius: 0px;
		padding: 13px 30px;

		&:hover {
			background-color: lighten($gold, 10);
		}
	}
}

.link {
	font-size: 1.2em;
	font-weight: 600;
	color: $gold;
	transition: 0.3s;

	&:hover {
		color: $brown;
	}
}