form {
	.form-group	{
		.form-control {
			border: none;
			height: 50px;

			&:active, &:focus {
				box-shadow: none;
				box-shadow: 0 0 10px $gold;
			}
		}

		textarea.form-control {
			height: 200px;
			padding-top: 15px;
		}
	}
}