.home {
	.fullpage {
		color: #fff;
		position: relative;
	}
}

.slide {
	
	background-size: cover;
	background-position: center;

	&.hero1 {
		background-image: url('/img/hero/1.jpg');
	}
	&.hero2 {
		background-image: url('/img/hero/2.jpg');
	}
	&.hero3 {
		background-image: url('/img/hero/3.jpg');
	}

	&.slide1 {
		background-image: url('/img/district/1.jpg');
	}
	&.slide2 {
		background-image: url('/img/district/2.jpg');
		background-position: center 100%;
	}
	&.slide3 {
		background-image: url('/img/district/3.jpg');
	}
	&.slide4 {
		background-image: url('/img/district/4.jpg');
	}
	&.slide5 {
		background-image: url('/img/district/5.jpg');
	}
	&.slide6 {
		background-image: url('/img/district/6.jpg');
	}

	&.cover {
		background-color: rgba(0,0,0,0.3);
		z-index: 1000;
	}
}
			