/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .slider-selector {
        .content .slide {
            height: 80px;
            width: 130px;
            margin: 0 5px;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .navbar .collapse.navbar-collapse .nav.navbar-nav li.left span {
        display: none !important;
    }

    .slider-selector {
        .content .slide {
            height: 60px;
            width: 100px;
            margin: 0 5px;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .navbar {
        height: initial;
        background-color: transparent;
        border-bottom: none;

        .navbar-toggle {
            margin-top: 14px;
        }

        .navbar-header {
            height: initial;
            position: relative;
            z-index: 2;
            border-bottom: 1px solid #eee;

            a {
                height: initial;
                line-height: initial;

                svg {
                    height: 26px;
                    top: 3px !important;
                }
            }
        }

        .collapse.navbar-collapse {
            position: fixed;
            display: none;
            top: 0;
            left: 0;
            padding: 0;
            padding-top: 60px;
            height: initial;
            width: 100%;
            text-align: center;
            background-color: #fff;
            float: none;
            margin: 0;
            .nav.navbar-nav {
                height: initial;
                margin: 0;
                padding: 30px 0px;
                background-color: #fff;
                li {
                    height: initial;
                    padding: 10px 0;
                    font-size: 1.3em;

                    &.left {
                        float: initial;

                        strong {
                            color: #333;
                        }
                    }

                    a {
                        line-height: initial;
                        height: initial;
                        color: #333;
                    }
                }   
            }
        }

        &.bg {
            background-color: #fff;
        }
    }

    .title {
        h1, h2 {
            font-size: 3em;
        }
        p {
            font-size: 1em;
        }
    }

    .slider-selector {
        .content .slide {
            height: 15px;
            width: 15px;
            background-color: rgba(0,0,0,0.5);
            background-image: none;
            border-radius: 10px;
            border: 1px #fff solid;
            margin: 0 5px;

            &.active {
                background-color: #fff;
            }
        }
    }

    .block {
        width: 100%;
    }

    .plans .title-bar a {
        display: block;
        width: 100%;
    }
    
    .plans .plan-slide {

        height: initial;
        .plan {
            height: 100%;
            position: initial;
            img {
                max-height: 100%;
            }
        }
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}

/* Height for fullpage divs */ 
@media only screen and (max-height : 700px) {
    .fullpage {
        display: block;

        .v-center {
            padding: 100px 0;
            padding-top: 170px;
            transform: none;
        }
    }
    
    .slider-selector {
        position: initial; 
    }
}