$slide-btn-height: 30px;
$slide-btn-width: 30px;

.slider {
	width: 100%;
		cursor: w-resize;
	.slide {
		width: 100%;

		&:focus {
			outline: none;
		}
	}
}

.slick-prev, .slick-next {
	&:before {
		content: '';
		background-image: url('/img/svg/left.svg');
    	background-size: $slide-btn-width $slide-btn-height;
    	width: $slide-btn-width; 
    	height: $slide-btn-height;
    	display: inline-block;
    	transition: 0.3s;
	}
}

.slick-prev {
	&:before {
		background-image: url('/img/svg/left.svg');
	}
}

.slick-next {
	&:before {
		background-image: url('/img/svg/right.svg');
	}
}

.slick-dots {
	bottom: -55px;
	li button:before {
		font-size: 20px;
	}
}

/** Custom Slider */
.slider {
	z-index: -1;
	position: absolute;
	height: 100%;
	width: 100%;
	 .slide {
	 	height: 100%;
		width: 100%;
		position: absolute;
	 }
}

.slider-selector {

	width: 100%;
	
	.content {
		
		width: 100%;
		height: auto;
		text-align: center;

		.slide {
			
			display: inline-block;
			height: 100px;
			width: 150px;
			cursor: pointer;
			margin: 0 20px;
			border: 3px solid #999;
			transition: box-shadow 0.5s;

			&.active {
				box-shadow: 0 0 10px rgba(0,0,0,0.6);
				border: 3px solid #fff;
			}
		}
	}
}

.fullpage .slider-selector {
	position: absolute;
	bottom: 20px;
	padding-bottom: 50px;
}
